<div class="header">
  <div class="head_first">
     <i  class="material-icons" >
      {{icons[0]}}
    </i>
    <i class="material-icons">
      {{icons[1]}}
    </i>
    <app-select
    style="width:47px;"
    *ngFor="let s of selects"
    [s]="s"
    >
  </app-select>
    <div  class="radius">
       <input type="text" id="text" placeholder="Search projects.....">
        <i class="material-icons">{{icons[2]}}</i>
    </div>
  </div>
  <div class="head_last">
    <app-select
    style="width:57px;"
    *ngFor="let s of english"
    [s]="s"
    ></app-select>
    <div class="head_icon">
      <i class="material-icons" >
       {{icons[3]}}
     </i>
     <div class="call">
        <p>5</p>
     </div>
    </div>
    <div class="head_icon">
      <i class="material-icons">
        {{icons[4]}}
      </i>
      <div class="call">
         <p>2</p>
    </div>
   </div>
   <app-select
   style="width:75px;"
   *ngFor="let s of users"
   [s]="s"
   ></app-select>
    <div class="block">
        <embed class="im " src="/assets/img/avar_1.svg" alt="myImage">
       <div class="call"></div>
    </div>
  </div>
</div>
