<div class="header">
  <div class="head_first">
     <a class="mdl-navigation__link" href="#">
       <i class="material-icons" >
        {{icons[0]}}
      </i>
    </a>
    <a class="mdl-navigation__link" href="#">
      <i class="material-icons">
        {{icons[1]}}
      </i>
    </a>
  <!--  <div class ="menu__list">
       <form name"1">
          <select name="language" size="1"  style="border-color:#ffffff">
             <option select value="New">New
             <option select value="Next">Next
             <option select value="Next">Next
             <option select value="Next">Next
          </select>
       </form>
    </div  >
    <div class ="menu__list">
       <form name"1">
          <select name="language" size="1"  style="border-color:#ffffff">
             <option select value="Mega">Mega
             <option select value="Next">Next
             <option select value="Next">Next
             <option select value="Next">Next
          </select>
       </form>
    </div>-->
    <div  class="radius">
       <input type="text" id="text" placeholder="Search projects.....">
        <i class="material-icons">{{icons[2]}}</i>
    </div>
  </div>
  <div class="head_last">
    <div class="head_icon">
      <a class="mdl-navigation__link" href="#">
        <i class="material-icons" >
         {{icons[3]}}
       </i>
     </a>
     <div class="call">
        <p>5</p>
     </div>
    </div>
    <div class="head_icon">
      <a class="mdl-navigation__link" href="#">
        <i class="material-icons">
          {{icons[4]}}
        </i>
      </a>
      <div class="call">
         <p>2</p>
    </div>
   </div>
    <div class="block">
        <embed class="im " src="/assets/img/avar_1.svg" alt="myImage">
       <div class="call"></div>
    </div>

  </div>
</div>
