.mdc-layuot-grid{
  .mdc-layout-grid__inner__primary{
    margin-bottom: 22.5px;
    height: 60px;
    background: #f5f7f7;
    border-bottom : 0.75px solid #e1e1e1;
    border-top : 1.5px solid #e1e1e1;
    p{
      margin-left: 20px;
    }
    p.p1{
        color: #555555;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 4px;

      }
    p.p2{
        color: #cbcbcb;
        font-size: 11px;
      }
    }
  .mdc-layout-grid__inner{
    .grid_7{
      background: #f0f3f4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 22.5px;
      padding-left: 15px;
      padding-right: 15px;
      height: 82.5px;
      p.p3{
          font-size: 26px;
            text-align: center;
            color:#fff;
            padding-top: 8px;
      }
      p.p4{
        margin-top: -5px;
        color: #7cd3e3;
        font-size: 9px;
        text-align: center;
      }
      .feedbacks{
        background: #00bcd4;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .total{
        background: #8bc34a;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .orders{
        background: #1d89cf;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .brand{
        background: #a767dd;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .revenue{
        background: #ffc700;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
    }
  }
  .mdc-layout-grid__inner-2{
    margin-top: 22.5px;
    height: 318.75px;
    margin-left: 15px;
    margin-right: 15px;
    .mdc-layout-grid__inner-3{
      background: #fff;
      height: 318.75px;
      .mdc-layout-grid__inner-4{
        height: 25.5px;
        p.analysis{
        margin-top: 18.75px;
        color: #656565;
        font-size: 13.5px;
        margin-left: 18.75px;
        //font-family: Myriad Pro;
        }
      }
    }
  }
}
