.mdc-layuot-grid{
  .mdc-layout-grid__inner__primary{
    margin-bottom: 22.5px;
    height: 60px;
    background: #f5f7f7;
    border-bottom : 0.75px solid #e1e1e1;
    border-top : 1.5px solid #e1e1e1;
    p{
      margin-left: 20px;
    }
    p.p1{
        color: #555555;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 4px;

      }
    p.p2{
        color: #cbcbcb;
        font-size: 11px;
      }
    }
  .mdc-layout-grid__inner{
    .grid{
      background: #f0f3f4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 22.5px;
      padding-left: 15px;
      padding-right: 15px;
      height: 82.5px;
      p.p3{
        font-size: 26px;
        text-align: center;
        color:#fff;
        padding-top: 8px;
      }
      p.p4{
        margin-top: -5px;
        color: #7cd3e3;
        font-size: 9px;
        text-align: center;
      }
      .feedbacks{
        background: #00bcd4;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .total{
        background: #8bc34a;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .orders{
        background: #1d89cf;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .brand{
        background: #a767dd;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .revenue{
        background: #ffc700;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
    }
  }
  .mdc-layout-grid__inner-2{
    margin-top: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_1{
      height: 318.75px;
      display: grid;
      grid-template-columns: 1.975fr 3.025fr;
      grid-gap:22.5px;
      .analysis{
        background: #fff;
      }
      .statistics{
        background: #fff;
      }
    }
  }
  .mdc-layout-grid__inner-3{
    margin-top: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 22.5px;
    .grid_2{
      height: 355.5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap:22.5px;
      .members{
        background: #fff;
        .head{
          height: 30px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          button{
            cursor: pointer;
            margin-right: 15px;
            background-color: #88c057;
            border: none;
            color: #fff;
            padding: 4px;
            height: 15px;
            width: 18px;
            border-radius: 2px;
            font-size: 8px;
          }
        }
        .users{
          ul{
              padding-left: 15px;
          }
        }
      }
      .tasks{
        background: #fff;
        .head{
          height: 30px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          button{
            cursor: pointer;
            border: none;
            margin-right: 15px;
            background-color: #fff;
            border: none;
            color: #fff;
            padding: 4px;
            height: 15px;
            width: 18px;
            border-radius: 2px;
            font-size: 8px;
            i.material-icons{
              font-size: 13.8px;
              margin-right: 25.5px;
              color:#555555;
            }
          }
        }
        .task_main{
          display: grid;
          grid-template-columns: 1fr 5.5fr;
          height: 325.5px;
          .icons{
            display: flex;
            .line{
              position: absolute;
              width: 0px;
              margin-left: 23px;
              height: 220px;
              border-left: 0.25px solid #ececec;
              margin-top: 26px;
            }
            .tasks_icon{
              position: relative;
              border-radius: 50%;
              height: 16px;
              width: 16px;
              align-items: center;
              text-align: center;
              margin-top: 25px;
              margin-bottom: 55px;
              margin-left: 15px;
              i.material-icons{
                font-size: 9px;
                padding-top: 3px;
                color:#fff;
              }
            }
          }
          .visiting{
            .users_visiting{
              padding-top: 20px;
              height: 50px;
              border-bottom: 0.25px solid #f4f4f4;

              p.p_1{
                font-size: 10px;
                color: #555;
              }
              .schedule{
                display: flex;
                text-align: center;
                align-items: center;
                p.p_2{
                  font-size: 10px;
                  color: #cacaca;
                }
                i.material-icons{
                  font-size: 13.8px;
                  margin-right: 7px;
                  color:#b5b5b5;
                }
              }
            }
            .tasks_last{
                padding-top: 20px;
              p.p_1{
                font-size: 10px;
                color: #555;
              }
              p.p_2{
                font-size: 10px;
                color: #cacaca;
              }
              .schedule{
                display: flex;
                text-align: center;
                align-items: center;
                p.p_2{
                  font-size: 10px;
                  color: #cacaca;
                }
                i.material-icons{
                  font-size: 13.8px;
                  margin-right: 7px;
                  color:#b5b5b5;
                }
              }
              .tasks_p{
                padding-right: 30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                img{
                  height:36px;
                }
              }
            }
          }
        }
      }
      .activity{
          background: #fff;
          .head{
            height: 30px;
            border-bottom: 0.5px solid #ebebeb;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            p{
              font-size: 12px;
              font-weight: bold;
              color:#555;
              padding-left: 15px;
            }
            button{
              cursor: pointer;
              margin-right: 15px;
              background-color: #48a0dc;
              border: none;
              color: #fff;
              padding: 4px;
              height: 15px;
              width: 18px;
              border-radius: 2px;
              font-size: 8px;
            }
          }
          .delete_message{
            margin-top: 20px;
            //display: grid;
            //grid-template-columns: 1fr;
            .message{
              color: #57a018;
              text-align: center;
              display:flex;
              align-items: center;
              justify-content: space-between;
              background: #f3f9ee;
              font-size: 10px;
              width: 85%;
              margin-left: 15px;
              margin-right: 15px;
              height: 24px;
              padding-left: 10px;
              padding-right: 5px;
              border-radius: 2px;
              //width: 60px;
              //align-items: center;
              //border: 0.25px solid #b5b5b5;
            }
            .icon{
              align-items: center;

            }
            i.material-icons{
              font-size: 13.8px;
              cursor: pointer;
              color:#57a018;
            }
        }
          .users_activity{
            display: grid;
            grid-template-columns: 1fr 5fr;
            .photo{
              .line{
                position: absolute;
                width: 0px;
                margin-left: 32px;
                height: 180px;
                border-left: 0.25px solid #ececec;
                margin-top: 26px;
              }
              .activity_photo{
                position: relative;
                margin-left: 15px;
                margin-top: 20px;
                margin-bottom: 25px;
                img{
                  height: 36px;
                }
              }

            }
            .about_users{
              margin-top: 20px;
              .text_about_users{
                padding-bottom: 42px;
              .text{
                height: 10px;
                padding-left: 10px;
              }
            }
          }
        }

    }

  }
}
  .mdc-layout-grid__inner-4{
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_3{
      height: 251px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:22.5px;
      .services{
        background: #fff;
      }
    }
  }
  .mdc-layout-grid__inner-5{
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_4{
      height: 460.5px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:22.5px;
      .responsive_table{
        background: #fff;
      }
    }
  }
}
button:active{
  outline: none;
}
.text{
  display: flex;

  p.p_1{
    font-size: 10px;
    color: #555;
    padding-right: 3px;
    //padding-bottom: 4px;
  }
  p.p_2{
    font-size: 10px;
    color: #cacaca;
    padding-right: 3px;
  }

}
