.mdc-layuot-grid{
  background-color: #f0f3f4;
  .mdc-layout-grid__inner__primary{
    margin-bottom: 22.5px;
    height: 60px;
    background: #f5f7f7;
    border-bottom : 0.75px solid #e1e1e1;
    border-top : 1.5px solid #e1e1e1;
    p{
      margin-left: 20px;
    }
    p.p1{
        color: #555555;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 4px;

      }
    p.p2{
        color: #cbcbcb;
        font-size: 11px;
      }
    }
  .mdc-layout-grid__inner{
    .grid{
      background: #f0f3f4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 22.5px;
      padding-left: 15px;
      padding-right: 15px;
      height: 82.5px;
      p.p3{
        font-size: 26px;
        text-align: center;
        color:#fff;
        padding-top: 8px;
      }
      p.p4{
        margin-top: -5px;
        color: #7cd3e3;
        font-size: 9px;
        text-align: center;
      }
      .feedbacks{
        background: #00bcd4;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .total{
        background: #8bc34a;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .orders{
        background: #1d89cf;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .brand{
        background: #a767dd;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
      .revenue{
        background: #ffc700;
        border-radius: 3.75px;
        embed{
          width:100%;
        }
      }
    }
  }
  .mdc-layout-grid__inner-2{
    margin-top: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_1{
      height: 318.75px;
      display: grid;
      grid-template-columns: 1.975fr 3.025fr;
      grid-gap:22.5px;
      .analysis{
        background: #fff;
        .head{
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          .menu__list{
            position: relative;
            margin-right: 10px;
            select{
              display: block;
              padding: 0px ;
              //padding-right: 3px;
              border:0;
              font-size: 10px;
              color: #555;
              -webkit-appearance:none;
              appearance:none;
              margin-right: 3px;
              margin-left: 0;
            }
          }
          .menu__list:after{
            content: "";
            display: block;
            border-style: solid;
            border-width: 4px 3px 3px 3px;
            border-color: #555 transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 0.75rem;
            z-index: 1;
            margin-top: -2px;
            color:#555;
          }
          .menu__list:focus{
            outline: 0;
            border-color: #555;
          }
        }
        .mdc-layout-grid__inner-6{
          display: grid;
          grid-template-columns: 3.5fr 1.5fr;
          .graph_1{

          }
          .countries{
            margin-top: 80px;
            .country{
              display: flex;
              align-items: center;
              text-align: center;
              .color{
                align-items: center;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                margin-bottom: 2px;
              }
              p{
                text-align: center;
                padding-left: 5px;
                font-size: 10px;
                color: #555;
              }
            }

          }
        }
      }
      .statistics{
        background: #fff;
        .head{
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          .buttons{
            display: flex;
            margin-right: 20px;
          }
        }
        .graf_2{
          display: grid;
          grid-template-columns: 1fr;
          height: 200px;
          padding-left: 20px;
          padding-right: 20px;
        
        }
      }
    }
  }
  .mdc-layout-grid__inner-3{
    margin-top: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 22.5px;
    .grid_2{
      height: 355.5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap:22.5px;
      .members{
        background: #fff;
        .head{
          height: 30px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          button{
            cursor: pointer;
            margin-right: 15px;
            background-color: #88c057;
            border: none;
            color: #fff;
            padding: 4px;
            height: 15px;
            width: 18px;
            border-radius: 2px;
            font-size: 8px;
          }
        }
        .users{
          ul{
              padding-left: 15px;
          }
        }
      }
      .tasks{
        background: #fff;
        .head{
          height: 30px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          button{
            cursor: pointer;
            border: none;
            margin-right: 15px;
            background-color: #fff;
            border: none;
            color: #fff;
            padding: 4px;
            height: 15px;
            width: 18px;
            border-radius: 2px;
            font-size: 8px;
            i.material-icons{
              font-size: 13.8px;
              margin-right: 25.5px;
              color:#555555;
            }
          }
        }
        .task_main{
          display: grid;
          grid-template-columns: 1fr 5.5fr;
          height: 325.5px;
          .icons{
            display: flex;
            .line{
              position: absolute;
              width: 0px;
              margin-left: 23px;
              height: 220px;
              border-left: 0.25px solid #ececec;
              margin-top: 26px;
            }
            .tasks_icon{
              position: relative;
              border-radius: 50%;
              height: 16px;
              width: 16px;
              align-items: center;
              text-align: center;
              margin-top: 25px;
              margin-bottom: 55px;
              margin-left: 15px;
              i.material-icons{
                font-size: 9px;
                padding-top: 3px;
                color:#fff;
              }
            }
          }
          .visiting{
            .users_visiting{
              padding-top: 20px;
              height: 50px;
              border-bottom: 0.25px solid #f4f4f4;

              p.p_1{
                font-size: 10px;
                color: #555;
              }
              .schedule{
                display: flex;
                text-align: center;
                align-items: center;
                p.p_2{
                  font-size: 10px;
                  color: #cacaca;
                }
                i.material-icons{
                  font-size: 13.8px;
                  margin-right: 7px;
                  color:#b5b5b5;
                }
              }
            }
            .tasks_last{
                padding-top: 20px;
              p.p_1{
                font-size: 10px;
                color: #555;
              }
              p.p_2{
                font-size: 10px;
                color: #cacaca;
              }
              .schedule{
                display: flex;
                text-align: center;
                align-items: center;
                p.p_2{
                  font-size: 10px;
                  color: #cacaca;
                }
                i.material-icons{
                  font-size: 13.8px;
                  margin-right: 7px;
                  color:#b5b5b5;
                }
              }
              .tasks_p{
                padding-right: 30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                img{
                  height:36px;
                }
              }
            }
          }
        }
      }
      .activity{
          background: #fff;
          .head{
            height: 30px;
            border-bottom: 0.5px solid #ebebeb;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            p{
              font-size: 12px;
              font-weight: bold;
              color:#555;
              padding-left: 15px;
            }
            button{
              cursor: pointer;
              margin-right: 15px;
              background-color: #48a0dc;
              border: none;
              color: #fff;
              padding: 4px;
              height: 15px;
              width: 18px;
              border-radius: 2px;
              font-size: 8px;
            }
          }
          .delete_message{
            margin-top: 20px;
            .message{
              color: #57a018;
              text-align: center;
              display:flex;
              align-items: center;
              justify-content: space-between;
              background: #f3f9ee;
              font-size: 10px;
              width: 85%;
              margin-left: 15px;
              margin-right: 15px;
              height: 24px;
              padding-left: 10px;
              padding-right: 5px;
              border-radius: 2px;
            }
            .icon{
              align-items: center;

            }
            i.material-icons{
              font-size: 13.8px;
              cursor: pointer;
              color:#57a018;
            }
        }
          .users_activity{
            display: grid;
            grid-template-columns: 1fr 5fr;
            .photo{
              .line{
                position: absolute;
                width: 0px;
                margin-left: 32px;
                height: 180px;
                border-left: 0.25px solid #ececec;
                margin-top: 26px;
              }
              .activity_photo{
                position: relative;
                margin-left: 15px;
                margin-top: 20px;
                margin-bottom: 25px;
                img{
                  height: 36px;
                }
              }

            }
            .about_users{
              margin-top: 20px;
              .text_about_users{
                padding-bottom: 42px;
              .text{
                height: 10px;
                padding-left: 10px;
              }
            }
          }
        }

    }

  }
}
  .mdc-layout-grid__inner-4{
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_3{
      height: 251px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:22.5px;
      .services{
        display: grid;
        grid-template-columns: 5fr 1.25fr;
        .graph_3{
          background: #fff;
          .head{
            height: 40px;
            //text-align: center;
            p.p_1{
              color: #555;
              font-size: 13px;
              margin-left: 15px;
              font-weight: bold;
              padding-top: 10px;
            }
            p.p_2{
              color: #bdbdbd;
              font-size: 10px;
              margin-left: 15px;
              padding-top: 5px;
            }
          }
        }
        .reports{
          background: #e5eaeb;
          .head{
            height: 40px;
            //text-align: center;
            p.p_1{
              color: #555;
              font-size: 13px;
              margin-left: 15px;
              font-weight: bold;
              padding-top: 10px;
            }

            }
            p{
              font-size: 10px;
              color: #555;

            }
            .text{
              height: 12px;
            }
            .tex{
              margin-top: 10px;
              margin-bottom: 10px;
              margin-left: 10%;
              margin-right: 10%;
            }
        }
      }
    }
  }
  .mdc-layout-grid__inner-5{
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 15px;
    margin-right: 15px;
    .grid_4{
      height: 440px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:22.5px;
      .responsive_table{
        background: #fff;
        .head{
          height: 30px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          p{
            font-size: 12px;
            font-weight: bold;
            color:#555;
            padding-left: 15px;
          }
          button{
            cursor: pointer;
            border: none;
            margin-right: 15px;
            background-color: #fff;
            border: none;
            color: #fff;
            padding: 4px;
            height: 15px;
            width: 18px;
            border-radius: 2px;
            font-size: 8px;
            i.material-icons{
              margin-top: -3.5px;
              font-size: 13.8px;
              margin-right: 25.5px;
              color:#929292;
            }
          }
        }
        .next_head{
          height: 50px;
          border-bottom: 0.5px solid #ebebeb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          .head_first{
            display: flex;
            .menu__list{
              border: 0.5px solid #ebebeb;
              width: 130px;
              height: 16px;
              position: relative;
              margin-left: 15px;
              padding-top: 5px;
              padding-left: 5px;
              border-radius: 3px;
              select{
                display: block;
                padding-right: 75px;
                border:0;
                font-size: 10px;
                color: #555;
                -webkit-appearance:none;
                appearance:none;
                margin-right: 3px;
                margin-left: 0;
              }
            }
            .menu__list:after{
              content: "";
              display: block;
              border-style: solid;
              border-width: 4px 3px 3px 3px;
              border-color: #555 transparent transparent transparent;
              position: absolute;
              top: 50%;
              right: 0.5rem;
              z-index: 1;
              margin-top: -2px;
              color:#555;
            }
            select{
                outline: none;
            }
            button{
              cursor: pointer;
              background-color: #fff;
              border: 0.5px solid #e1e1e1;
              border-radius: 3px;
              margin-left: 5px;
              color:#555;
              font-size: 9px;
              width: 50px;
            }
            button:active{
            outline: none;
            }
            button:hover{
              background: #f3f3f3;
            }
          }
          .head_last{
            .search{
              display: flex;
              margin-right: 15px;
              input{
                font-size: 9px;
                height: 20px;
                width: 120px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: #fff;
                border: 0.5px solid #e1e1e1;
                color:#555;
                padding-left: 10px;
                outline: none;
              }
              input:active{
              outline: none;
              }
              button{
                cursor: pointer;
                background-color: #fff;
                border: 0.5px solid #e1e1e1;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-left: none;
                color:#555;
                font-size: 9px;
                width: 24px;
              }
              button:active{
              outline: none;
              }
              button:hover{
                background: #f3f3f3;
              }
            }
          }
        }
        .title{
          margin-left: 15px;
          margin-right: 15px;
          display: grid;
          grid-template-columns: 32fr 45fr 28fr 23fr 10fr;
          height: 50px;
          p{
            font-size: 10px;
            font-weight: bold;
             line-height: 6em;
          }
        }
        .content{
          width: 100%;
        }
        .last_row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            font-size: 9px;
            text-align: center;
            color: #bababa;
            margin-top: 30px;
            padding-left: 15px;
          }
          .pages{
            display: flex;
            padding-right: 15px;
            padding-top: 18px;
            .page{
              cursor: pointer;
              height: 20px;
              width: 20px;
              border: 0.5px solid #e1e1e1;
              border-right: none;
              margin-bottom: 5px;
              align-items: center;
              text-align: center;
              .number{
                line-height: 2.5em;
                font-size: 9px;
                color:#555;
              }
              i.material-icons{
                font-size: 8px;
                line-height: 2.5em;
                color:#555;
              }
            }
            .page:hover{
              background: #f9f9f9;
            }
          }
        }
      }
    }
  }
}
button:active{
  outline: none;
}
.text{
  display: flex;

  p.p_1{
    font-size: 10px;
    color: #555;
    padding-right: 3px;
  }
  p.p_2{
    font-size: 10px;
    color: #cacaca;
    padding-right: 3px;
  }
}
.date{
  height: 10px;
  padding: 3px;
  text-align: center;
  margin-right: 15px;
  line-height: 1em;
  .p_t{
    font-size: 10px;
    color:#555;
  }
}
button,
button:active,
button:focus {
    outline: none;
}
