<div class="mdc-layuot-grid ">
  <div class="mdc-layout-grid__inner__primary">
      <p class="p1">Dashboard</p>
      <p class="p2">Dashboard & statistics</p>
  </div>
  <div class="mdc-layout-grid__inner">
     <div class="mdc-layout-grid__cell--span-12">
        <div class="grid_7">
           <div class="feedbacks">
              <p class="p3">1349</p>
              <p class="p4">NEW FEEDBACKS</p>
               <embed src="/assets/img/gh_1.svg">
           </div>
           <div class="total">
              <p class="p3">$ 12,5 M</p>
              <p class="p4"style="color:#c5dfab">TOTAL PROFIT</p>
               <embed src="/assets/img/gh_2.svg">
           </div>
           <div class="orders">
              <p class="p3">325</p>
              <p class="p4" style="color:#9ec4e5">NEW OPDERS</p>
               <embed src="/assets/img/gh.svg">
           </div>
           <div class="brand">
              <p class="p3">+56%</p>
              <p class="p4" style="color:#d2b5ed">BRAND POPULARITY</p>
               <embed src="/assets/img/gh_3.svg">
           </div>
           <div class="revenue">
              <p class="p3">$12,500</p>
              <p class="p4" style="color:#fff">REVENUE, 60% OF THE GOAL</p>
               <embed src="/assets/img/gh_4.svg">
           </div>
        </div>
     </div>
  </div>
  <div class="mdc-layout-grid__inner-2">
    <div class="mdc-layout-grid__cell--span-5">
      <div class="mdc-layout-grid__inner-3">
        <div class="mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid__inner-4">
            <div class="mdc-layout-grid__cell--span-4">
              <p class="analysis">Analysis</p>
            </div>
            <div class="mdc-layout-grid__cell--span-4"></div>
            <div class="mdc-layout-grid__cell--span-4"></div>
            </div>
          </div>
        </div>
    </div>
   <div class="mdc-layout-grid__cell--span-7">

   </div>
    </div>
</div>
