
<div class="mdc-layuot-grid ">
  <div class="mdc-layout-grid__inner__primary">
      <p class="p1">Dashboard</p>
      <p class="p2">Dashboard & statistics</p>
  </div>
  <div class="mdc-layout-grid__inner">
     <div class="mdc-layout-grid__cell--span-12">
        <div class="grid">
           <div class="feedbacks">
              <p class="p3">1349</p>
              <p class="p4">NEW FEEDBACKS</p>
               <embed src="/assets/img/gh_1.svg">
           </div>
           <div class="total">
              <p class="p3">$ 12,5 M</p>
              <p class="p4"style="color:#c5dfab">TOTAL PROFIT</p>
               <embed src="/assets/img/gh_2.svg">
           </div>
           <div class="orders">
              <p class="p3">325</p>
              <p class="p4" style="color:#9ec4e5">NEW OPDERS</p>
               <embed src="/assets/img/gh.svg">
           </div>
           <div class="brand">
              <p class="p3">+56%</p>
              <p class="p4" style="color:#d2b5ed">BRAND POPULARITY</p>
               <embed src="/assets/img/gh_3.svg">
           </div>
           <div class="revenue">
              <p class="p3">$12,500</p>
              <p class="p4" style="color:#fff">REVENUE, 60% OF THE GOAL</p>
               <embed src="/assets/img/gh_4.svg">
           </div>
        </div>
     </div>
  </div>
  <div class="mdc-layout-grid__inner-2">
    <div class="grid_1">
      <div class="analysis">
        <div class="head">
          <p>Analysis</p>
          <div class ="menu__list">
            <select name="language" size="1">
               <option select value="{{select[0]}}">{{select[0]}}
               <option select value="{{select[1]}}">{{select[1]}}
               <option select value="{{select[2]}}">{{select[2]}}
               <option select value="{{select[3]}}">{{select[3]}}
            </select>
          </div>
        </div>
        <div class="mdc-layout-grid__inner-6">
          <div class="graph_1">
            <app-my-chart-one></app-my-chart-one>
            <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
          </div>
          <div class="countries">
            <div *ngFor="let item of countries" class="country">
              <div class="color" style="background:{{item.color}}">
                </div>
                <p>{{item.name}}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="statistics">
          <div class="head">
            <p>Statistics</p>
            <div class="buttons" >
              <app-buttons></app-buttons>
            </div>
          </div>

          <div class="graf_2">
            <app-my-chart-two></app-my-chart-two>
          </div>
          <!-- <div class="month">
            df
          </div>
          <div class="year">
            dfg
          </div> -->
          <div class="statist">
            <app-statistics></app-statistics>
          </div>
        </div>
    </div>
    </div>
    <div class="mdc-layout-grid__inner-3">
      <div class="grid_2">
        <div class="members">
          <div class="head">
            <p>Members</p>
            <button>35</button>
          </div>
          <div class="users">
            <ul>
              <app-members
                *ngFor="let member of members"
                [member]="member"
              ></app-members>
              </ul>
              </div>
        </div>
          <div class="tasks">
            <div class="head">
              <p>Tasks</p>
              <button (click)="iconClick()" >
                <i  class="material-icons" >
                 more_vert
               </i>
              </button>
              <div *ngIf="!isIconClick"class="icon">
                <div class="date">
                  <div class="p_t">Menu</div>
                </div>
              </div>
            </div>
            <div class="task_main">
              <div class="icons">
                <div class="line">

                </div>
                <div>
                  <div *ngFor="let item of tasks_icons" class="tasks_icon" style="background:{{item.color}}">
                    <i  class="material-icons" >
                     {{item.icon}}
                   </i>
                  </div>
                </div>

              </div>
              <div class="visiting">
                <div class="users_visiting">
                  <div class="text">
                    <p class="p_1">Alexandra Jones </p>
                    <p class="p_2">added a new project</p>
                    <p class="p_1"> Flat iOS UI Kit</p>
                  </div>
                  <div class="schedule">
                    <i  class="material-icons" >
                   schedule
                 </i>
                 <p class="p_2">
                   Just now
                 </p>
                  </div>
                </div>
                <div class="users_visiting">
                  <div class="text">
                  <p class="p_1">Sierra Dickinson</p>
                   <p class="p_2">is now following you.</p>
                  </div>
                  <div class="schedule">
                    <i  class="material-icons" >
                   schedule
                 </i>
                 <p class="p_2">
                   20 minutes ago
                 </p>
                  </div>
                </div>
                <div class="users_visiting">
                  <div class="text">
                  <p class="p_1">Olivia Kelly</p>
                  <p class="p_2">deleted project
                  <p class="p_1"> IBM</p>
                  </div>
                  <div class="schedule">
                    <i  class="material-icons" >
                   schedule
                 </i>
                 <p class="p_2">
                  46 minutes ago
                </p>
                  </div>
                </div>
                <div class="tasks_last">
                  <div class="text">
                  <p class="p_1">Allison Faber</p>
                  <p class="p_2">commented your project</p>
                  <p class="p_1">Flat UI Kit</p>
                  </div>
                  <div class="tasks_p">
                    <div *ngFor="let item of tasks_photo" class="photo">
                      <img src="/assets/img/{{item}}"/>
                    </div>
                  </div>
                  <div class="schedule">
                    <i  class="material-icons" >
                   schedule
                 </i>
                 <p class="p_2">
                   2 hours ago
                 </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="activity">
            <div class="head">
              <p>Activity</p>
              <button>16</button>
            </div>
            <div *ngIf="isClicked" class="delete_message">
              <div class="message">
                <p>10 members update their activies.</p>
                <div class="icon">
                  <i *ngIf="isClicked" (click)="toggleCollapse()" class="material-icons" >
                 close
                </i>
                </div>
              </div>
            </div>
            <div class="users_activity">
              <div class="photo">
                <div class="line">
                </div>
                <div>
                  <div *ngFor="let item of activity_photo" class="activity_photo">
                    <img src="/assets/img/{{item}}"/>
                  </div>
                </div>
              </div>
              <div class="about_users">

                <div class="text_about_users" >
                  <div class="text">
                    <p class="p_1">Louis Elliot </p>
                    <p class="p_2">5 min ago</p>
                  </div>
                <div class="text">
                  <p class="p_2">assign you a task </p>
                  <p class="p_1">Mockup Design</p>
                </div>
              </div>
                <div class="text_about_users" >
                  <div class="text">
                    <p class="p_1">Terry Moore</p>
                    <p class="p_2"> 10 min ago </p>
                  </div>
                <div class="text">
                  <p class="p_2">Follow up to close deal</p>
                </div>
              </div>
                <div class="text_about_users" >
                  <div class="text">
                    <p class="p_1">Walter Paler </p>
                    <p class="p_2">1 hour ago</p>
                  </div>
                <div class="text">
                  <p class="p_2">was added to</p>
                  <p class="p_1"> Repo</p>
                </div>
              </div>
                <div class="text_about_users" >
                  <div class="text">
                    <p class="p_1">Mogen Polish </p>
                    <p class="p_2">2 hour ago</p>
                  </div>
                <div class="text">
                  <p class="p_2">was added 5 photos to</p>
                  <p class="p_1">Admin Dashboard</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="mdc-layout-grid__inner-4">
    <div class="grid_3">
      <div class="services">
        <div class="graph_3">
          <div class="head">
            <p class="p_1">Managed Services</p>
            <p class="p_2">Service report of this year (updated 1 hour ago)</p>
          </div>
          <div class="my_graph_3">
            <app-my-chart-three></app-my-chart-three>
          </div>
        </div>
        <div class="reports">
          <div class="head">
            <p class="p_1">Reports</p>
          </div>
          <div class="progress_bar">
            <app-progress
            *ngFor="let progress of progres"
            [progres]="progress"
            ></app-progress>
          </div>
          <div class="tex">
            <div class="text">
              <p>Lorem ipsum dolor sit amet, consect</p>
              </div>
              <div class="text">
              <p>adipisicing elit, sed do eiusmod por</p>
              </div>
              <div class="text">
              <p>incididunt ut labore et dolore </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="mdc-layout-grid__inner-5">

    <div class="grid_4">
      <div class="responsive_table">
        <div class="head">
          <p>Responsive Table</p>
          <button  (click)="iconClickSetting()">
            <i  class="material-icons" >
             settings
           </i>
          </button>
          <div *ngIf="!isSettingClick"class="icon">
            <div class="date">
              <div class="p_t">Settings</div>
            </div>
          </div>
        </div>
        <div class="next_head">
          <div class="head_first">
            <div class ="menu__list">
              <select name="language" size="1">
                <option select value="{{select_2[0]}}">{{select_2[0]}}
                <option select value="{{select_2[1]}}">{{select_2[1]}}
                <option select value="{{select_2[2]}}">{{select_2[2]}}
                <option select value="{{select_2[3]}}">{{select_2[3]}}
              </select>
            </div>
            <button>Apply</button>
          </div>
          <div class="head_last">
            <div class="search">
              <input value="Search" />
              <button>Go</button>
            </div>
          </div>
        </div>
        <div class="title">
          <p style="padding-left:18.5%">NAME</p>
          <p>TASK</p>
          <p>DATE</p>
          <p style="padding-left:8%">STATUS</p>
          <p style="padding-left:3%">ACTION</p>
        </div>
        <div class="content">
          <app-user-row
            *ngFor="let user of users"
            [user]="user"
          ></app-user-row>
        </div>
        <div class="last_row">
          <p>Showing 20-30 of 50 items</p>
          <div class="pages">
            <div class="page">
              <i  class="material-icons" style="transform: rotate(180deg)">
               double_arrow
             </i>
            </div>
            <div *ngFor="let item of [].constructor(5); let i = index" class="page">
              <div class="number">{{i+1}}</div>
            </div>
            <div class="page" style="border-right:0.5px solid #e1e1e1;">
              <i  class="material-icons">
               double_arrow
             </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
