<div id="sidebar">
 <ul>
  <embed  src="/assets/img/Logo.svg" alt="myImage">
    <div class="navig">
      <div class="tex">Navigation</div>
    </div>
    <div class="cont">
      <li><a routerLink="/dashboard" class="item">
          <i class="material-icons">blur_circular</i>
            <div class="text">Dushboard</div>
              <div class="circle_1">
                <p>2</p>
              </div>
           <i class="material-icons" style="padding-left:0px;">keyboard_arrow_right</i>
        </a>
        <ul>
          <li><a class="item" href="#">Next</a></li>
          <li><a class="item" href="#">Next</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/mailbox" class="item">
         <i class="material-icons">insert_drive_file</i>
           <div class="text">  Mailbox</div>
        </a>
      </li>
      <li>
        <a routerLink="/calendar" class="item">
         <i class="material-icons">date_range</i>
           <div class="text">   Calendar</div>
        </a>
      </li>
      <li>
        <a routerLink="/pages" class="item">
           <i class="material-icons">description</i>
             <div class="text">   Pages</div>
               <div class="circle_2">
                 <p>8</p>
               </div>
           <i class="material-icons" style="padding-left:0px;">keyboard_arrow_right</i>
        </a>
        <ul>
          <li><a class="item" href="#">Next</a></li>
          <li><a class="item" href="#">Next</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/apps" class="item">
           <i class="material-icons">dashboard</i>
             <div class="text">   Apps</div>
          <i class="material-icons" style="margin-left: 49px;">keyboard_arrow_right</i>
        </a>
        <ul>
          <li><a class="item" href="#">Next</a></li>
          <li><a class="item" href="#">Next</a></li>
        </ul>
      </li>
    </div>
      <div class="navig">
        <div class="tex">Components</div>
      </div>
    <div class="cont">
      <li>
        <a class="item">
           <i class="material-icons">view_module</i>
             <div class="text">Layouts</div>
              <i class="material-icons" style="padding-left:53px;">keyboard_arrow_right</i>
         </a>
         <ul class="feat-show">
           <li><a class="item" href="#">Next</a></li>
           <li><a class="item" href="#">Next</a></li>
         </ul>
      </li>
      <li>
        <a class="item">
           <i class="material-icons">view_carousel</i>
             <div class="text">UI Elements</div>
             <div class="circle_3">
               <p>5</p>
             </div>
            <i class="material-icons" style="padding-left:0px;">keyboard_arrow_right</i>
        </a>
        <ul>
          <li><a class="item" class="item" href="#">Next</a></li>
          <li><a class="item" class="item" href="#">Next</a></li>
        </ul>
      </li>
      <li>
        <a class="item">
           <i class="material-icons">storage</i>
             <div class="text">Forms</div>
            <i class="material-icons" style="margin-left: 45px;">keyboard_arrow_right</i>
        </a>
        <ul>
          <li><a class="item" href="#">Next</a></li>
          <li><a class="item" href="#">Next</a></li>
        </ul>
    </li>
    <li>
      <a class="item">
         <i class="material-icons">grid_on</i>
           <div class="text">Tables</div>
           <i class="material-icons" style="padding-left:58px;">keyboard_arrow_right</i>
      </a>
      <ul>
        <li><a class="item" href="#">Next</a></li>
        <li><a class="item" href="#">Next</a></li>
      </ul>
    </li>
    <li>
      <a class="item">
         <i class="material-icons">wallpaper</i>
           <div class="text"> Chart</div>
        <i class="material-icons" style="margin-left: 47px;">keyboard_arrow_right</i>
      </a>
      <ul>
        <li><a class="item" href="#">Next</a></li>
        <li><a  class="item" href="#">Next</a></li>
      </ul>
    </li>
    <li>
      <a class="item">
         <i class="material-icons">map</i>
           <div class="text">Maps</div>
        <i class="material-icons" style="margin-left: 47px;">keyboard_arrow_right</i>
      </a>
      <ul>
        <li><a class="item" href="#">Next</a></li>
        <li><a class="item" href="#">Next</a></li>
      </ul>
    </li>
  </div>
    <div class="navig">
      <div class="tex">Data Points</div>
    </div>
  <div class="mail">
     <div class="t">Milestone</div>
     <div class="progress">70%</div>
  </div>
    <div class="meter_2" style="height: 2.5px;">
       <span></span>
    </div>
      <div class="mail">
         <div class="t">Release</div>
         <div class="progress">45%</div>
      </div>
      <div class="meter_2">
         <span style="width: 45%; background-color: #ee2337;"></span>
      </div>
  </ul>
</div>
