.but{
  background-color: #fff;
  //border-color: #fff;
  color:#555;
  padding: 0px 10px;
  font-size: 9px;
  height: 20px;
  border-radius: 40%;
  border-color: #555;
}
.but:active{
  outline: none;
}
.butt:hover{
  border-color: #555;
}
.butt{
  display: flex;
}
