.page{
  height: 100%;
  weigth:100%;
}
// .main{
//   height: 100%;
// }
// .main{
//   display: flex;
// }
button{
  margin-left: 170px;
  height: 13.8px;
  width: 13.8px;
  background-color: #fff;
  position: absolute;
  border: none;
  margin-top: 14.5px;

  i.material-icons{
    font-size: 13.8px;
    color:#555555;
    cursor: pointer;

  }
}

button:active{
  outline: none;
}
