#sidebar{
  position: absolute;
  width: 150px;
  height: 100%;
  background: #1c2b36;
  ul:first-child {
    margin: 0;
    padding-left: 0px;
    li:first-child {
      color: #ffffff;
      font-size: 10.5px;
      list-style: none;
      padding: 11.25px 30px 8px 0px;
      margin: 0;
      font-family: loto;
      left: 0;
      embed{
        height: 23px;
      }
    }
    .navig{
      display: flex;
      height: 22.5px;
      width: 100%;
      margin-top: 20.5px;
      font-size: 11px;
      .tex{
        margin-left: 14px;
        color: #5f7787;
      }
    }

  }
  p{
  text-align:center;
  color:#fff;
  transform: translateY(-2px);

  }
}
#sidebar ul li:not(first-child){
  text-align: center;
  font-size:10.5px;
  list-style: none;
  font-family: loto;
  align-content:center;
  left: 11.25px;
  i{
    margin-top: 3.75px;
    transform: scale(0.525);
    width: 10.5px;
    height: 9px;
  }
}
#sidebar ul li a{
  color:#c1daec;
  text-decoration: none;
  display: block;
}
#sidebar{
  ul{
    .cont{
      border-bottom:0.5px solid #243a49;
      font-size: 10px;
    .item{
      display: flex;
      height: 27px;
      justify-content:flex-start;
      align-items: center;
      i.material-icons{
        color:#c1daec;
        font-size: 11px;
        padding-left:  14px;
      }
      .text{
        margin-left: 15px;
        color: #c1daec;
        margin-top: 3px;
      }
    }
    .item:hover{
      background: #17242d;
    }
    .circle_1{
      height: 14px;
      width: 14px;
      background: #39b54a;
      margin-left: 20px;
      border-radius: 50%;
      border: 2.25px solid #215036;
      }
  .circle_2{
      height: 14px;
      width: 14px;
      background: #ffc700;
      margin-left: 42px;
      border-radius: 50%;
      border: 2.25px solid #585629;
      }
  .circle_3{
  height: 14px;
  width: 14px;
  background: #00bff3;
  border-radius: 50%;
  border: 2.25px solid #15576b;
      }
    }
  }
}
#sidebar {
  a{
    text-decoration: none;
  }
}
