<div id="sidebar">
     <ul>
        <li>
          <embed  src="/assets/img/Logo.svg" alt="myImage">
        </li>
        <div class="navig">
          <div class="tex">Navigation</div>
        </div>
        <div class="cont">
           <a routerLink="/dashboard" class="item">
              <i class="material-icons">blur_circular</i>
              <div class="text">Dushboard</div>
              <div class="circle_1">
                <p>2</p>
              </div>
                 <i class="material-icons" style="padding-left:0px;">keyboard_arrow_right</i>
           </a>
   <a routerLink="/mailbox" class="item">
      <i class="material-icons">insert_drive_file</i>
      <div class="text">  Mailbox</div>
   </a>
   <a routerLink="/calendar" class="item">
      <i class="material-icons">date_range</i>
      <div class="text">   Calendar</div>
   </a>
   <a routerLink="/pages" class="item">
      <i class="material-icons">description</i>
      <div class="text">   Pages</div>
      <div class="circle_2">
         <p>8</p>
      </div>
      <i class="material-icons" style="padding-left:0px;">keyboard_arrow_right</i>
   </a>
   <a routerLink="/apps" class="item">
      <i class="material-icons">dashboard</i>
      <div class="text">   Apps</div>
       <i class="material-icons" style="margin-left: 49px;">keyboard_arrow_right</i>
   </a>
</div>
</ul>
</div>
